* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #801ca4;
    color: #ffffff;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #cc11cc;
    color: white;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #321231;
}

/* Hero */
.hero {
    height: 90vh;
    background: linear-gradient(to right, #ae2fc8, #e8e3e7);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 45px;
}

.hero span {
    color: #b219d1;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #8f2cad;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s;
}

.btn:hover {
    background: white;
    color: #111827;
}

/* Sections */
.section {
    padding: 80px 10%;
    text-align: center;
}

.section h2 {
    margin-bottom: 30px;
    font-size: 32px;
}

.dark {
    background: #8919ab;
    color: white;
}

/* Skills */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skill-card {
    background: #f7f5f7;
    color: rgb(92, 33, 86);
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.3s;
}

.skill-card:hover {
    transform: scale(1.1);
}

/* Projects */
.project-card {
    background: rgb(180, 25, 211);
    padding: 25px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(234, 19, 216, 0.1);
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

/* Footer */
footer {
    background: #d31bd3;
    color: white;
    text-align: center;
    padding: 20px;
}
a {
    color: white;
    text-decoration: none;
}
